@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 70px;
  --sidebar-width: 450px;
  --sidebar-height: 90vh;
  --ad-section-width: 20%;
  --soft-bg-color: #ffffff;
  --dark-bg-color: #374151;
  --text-color: #303030;
  --border-color: #b9bcbe;
  --heading-color: #212134;
  --fw-normal: 500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--soft-bg-color);
}
