@import url("./../globals.css");

.home-container .tutorial-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: var(--border-radius);
}
