@import url("./../../globals.css");

.sidebar-container {
  width: var(--sidebar-width);
  background-color: var(--soft-bg-color);
  border-right: 1px solid var(--border-color);
  transition: all 0.3s ease-in-out;
  min-height: var(--sidebar-height);
}

.sidebar-wrapper .search-box {
  border-bottom: 1px var(--border-color) solid;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
.sidebar-wrapper .search-input {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  height: 60px;
  font-size: 28px;
}

.sidebar-wrapper .sidebar-list-wrapper {
  margin-top: 30px;
  padding: 0 30px;
  overflow-y: auto;
}

.sidebar-wrapper .sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.sidebar-wrapper .sidebar-list .sidebar-list-item {
  padding: 5px;
  font-size: 20px;
  font-weight: var(--fw-normal);
}
